@page "/loginsides/{id:int}"
@using admin_web.Data;
@using admin_web.Controllers;
@using admin_web.Entities;
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;

<PageTitle>LogInsides</PageTitle>

<h1>LogInsides</h1>

<p>This page shows all logs for insides in the DB for a log with id: @id</p>

@if (logInsides == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Log Id</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Radon LTA</th>
                <th>Radon STA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (LogInside logInside in logInsides)
            {
                if (logInside.LogId == id)
                {
                    <tr>
                        <td>@logInside.Id</td>
                        <td>@logInside.LogId</td>
                        <td>@logInside.Temperature</td>
                        <td>@logInside.Humidity</td>
                        <td>@logInside.RadonLta</td>
                        <td>@logInside.RadonSta</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code{

    [Parameter]
    public int id { get; set; }

    private int? logId { get; set; } = null;
    private double temperature { get; set; } = 0.0;
    private double humidity { get; set; } = 0.0;
    private double radonLta { get; set; } = 0.0;
    private double radonSta { get; set; } = 0.0;

    private List<LogInside>? logInsides;

    protected override void OnInitialized()
    {
        logInsides = LogInsideController.ReadAll();
    }

}
